body{
	background-color: #F4F4F4;
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace > .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}
.navbar {
	min-height: 80px;
	-webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
	border-bottom: 0px solid transparent;
	margin-bottom: 0px;
}
.navbar-default {
	background: #fff;
	border-color: #fff;
	z-index: 9999;
}
.nav > li > a {
	padding: 40px 15px 20px;
	font-size: 18px;
}
.navbar-brand {
	padding: 7px 20px 7px;
	width: 220px;
	max-height: 80px;
}
.navbar-default .navbar-nav>li>a {
	border-top: 2px solid transparent;
	color: #C3C3C3;
	font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333333;
	background-color: transparent;
}
.navbar .navbar-nav > li > a:hover {
	background-color: #ebebeb;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}
.nav > li {
	position: relative;
	display: block;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #000;
	border-top: 2px solid #000;
	background: none;
}
.navbar-toggle {
	margin-top: 20px;
}
.navbar-default .navbar-toggle {
	background-color: #F2F2F2;
	border-color: #BEBEBE;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #000000;
	border-color: #BEBEBE;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #BEBEBE;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: transparent;
}

.portada{
	background-image: url('../../imagenes/T96V0685JW.jpg');
	background-position: center center;
	background-size: cover;
	padding: 20px 0px 20px 0px;
}
.portada .info-content > h1,
.portada .info-content > p{
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);

}
.portada .login-content{
	width: 360px;
	margin: 0 auto;
	margin-top: 40px;
}

.formulario-registro{
	margin-top: 20px;
}
.seccion{
	background-color: #f9f9f9;
	padding: 10px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	margin: 0px -10px 10px -10px;
}
.divider{
	height: 1px;
	background-color: #eeeeee;
	margin: 10px -10px 10px -10px;
}

.nav-tabs.process {
	position: relative;
	margin-bottom: 0;
	box-sizing: border-box;
	background-color: #fff;
	margin: 20px 0px;
}
.nav-tabs.process > .liner{
	height: 2px;
	background: #ddd;
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}
.nav-tabs.process span.round-tabs{
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	border-radius: 100px;
	background: white;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 25px;
	color: #ddd;
	border: 2px solid #ddd;
}
.nav-tabs.process > li > a{
	pointer-events: none;
	cursor: default;
	margin: 0 auto;
}
.nav-tabs.process > li.active > a span.round-tabs{
	background: #fafafa;
}
.nav-tabs > li {
	width: 20%;
	border-left: 0px transparent;
}
.nav-tabs > li > a{
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
}
@media( max-width : 585px ){
	span.round-tabs {
		font-size:16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.nav-tabs > li a {
		width: 50px;
		height: 50px;
		line-height:50px;
	}
}
.well .tab-content,
.well .tab-pane{
	padding: 0px;
}
.form-group.has-error{
	position: relative;
}
.help-block.error{
	position: absolute;
	font-size: 10px;
	top: 28px;
}